page {
  height: 100%;
  overflow: hidden;
  background-color: #F7F8FE;
}

.myNavCategory{
    background-color: white;
    margin: 10rpx;
    padding: 10rpx;
    display: flex;
    flex-wrap: wrap;
    font-size: 28rpx;
    border-radius: 20rpx;
    margin-top: 20rpx;

  .myNavTitle{
    width: 100%;
    padding: 10rpx 0rpx 0rpx 10rpx;
    font-weight: 400;
    font-size: 32rpx;
    margin-bottom: 15rpx;
  }

  .myNavItem {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20rpx 10rpx 0rpx 10rpx;
    text-align: center;

    .myOrderNavItem{
      width: 25%;
      paading: 0 2%;
      margin-bottom: 30rpx;

      image {
        width: 60rpx;
        height: 60rpx;
      }
      text {
        width: 100%;
        display:block;
        padding: 10rpx 0rpx 0rpx 0rpx;
      }
    }
  }
}